# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/

# Development environments
.idea/
.vscode/
*.swp
*.swo

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Kubernetes
kubernetes/

# OS specific
.DS_Store
Thumbs.db

# Local development
.env
*.log
